*.root*
*.png
*.tw
*.m4b
*.gch
*.json
*.log
*.ek4
*.spe
*.info
executables/faster2histo
executables/faster2root
executables/manip2root
exec
# OLD_lib/

#Exceptions :
#Excitation energy root files are needed by some code
!*_Ex.root 